<!-- Sidebar navigation -->
        <ul id="slide-out" class="side-nav custom-scrollbar">
            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light">
                    <a href="#"><img src="/img/logo.png" class="img-fluid flex-center"></a>
                </div>
            </li>
            <!--/. Logo -->
            <!--Social-->
            <li>
                <ul class="social">
                    <li><a class="fb-ic"><i class="fa fa-facebook"> </i></a></li>
                    <li><a class="pin-ic"><i class="fa fa-pinterest"> </i></a></li>
                    <li><a class="gplus-ic"><i class="fa fa-google-plus"> </i></a></li>
                    <li><a class="tw-ic"><i class="fa fa-twitter"> </i></a></li>
                </ul>
            </li>
            <!--/Social-->
            <!--Search Form-->
            <li>
                <form class="search-form" role="search">
                    <div class="form-group md-form mt-0 pt-1 waves-light">
                        <input type="text" class="form-control" placeholder="Busqueda">
                    </div>
                </form>
            </li>
            <!--/.Search Form-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-shopping-cart"></i> Cart page<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Cart V.1</a>
                                </li>
                                <li><a href="#" class="waves-effect">Cart V.2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-hand-pointer-o"></i> Category page<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Category V.1</a>
                                </li>
                                <li><a href="#" class="waves-effect">Category V.2</a>
                                </li>
                                <li><a href="#" class="waves-effect">Category V.3</a>
                                </li>
                                <li><a href="#" class="waves-effect">Category V.4</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-camera-retro"></i> Product page<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect">Product V.1</a>
                                </li>
                                <li><a href="#" class="waves-effect">Product V.2</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#" class="collapsible-header waves-effect"><i class="fa fa-envelope"></i> Contacto</a></li>

                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        </ul>
        <!--/. Sidebar navigation -->